---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import Greeting from '../components/Greeting.jsx';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Joshua La's Personal Website</h2>
  <Greeting client:load messages={["Hello", "Hi", "Howdy"]} />
</BaseLayout>